@model IEnumerable<Inventory_Management_Systems.Models.tblInvoice>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.invoice_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payment_Mode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoice_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Due_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblCompany)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.invoice_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payment_Mode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoice_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Due_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TblAccount.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblCompany.CompanyrCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.invoiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.invoiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.invoiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
